{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<div class="page-header">
  <h1>Recruits for {{ practice_registration.practice.name }}</h1>
  {{ formhelper.render_search(searchForm, 'recruits_index', { 'Add New' : 'recruits_add'}, code=practice_registration.code) }}
</div>

<div class="list-group">
  {% for r in recruits.items %}
    <div class="list-group-item row">
      <div class="col-xs-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
          {% if r.is_portal_created() %}
            <a class="btn btn-primary" href="{{ url_for('recruits_edit', code=practice_registration.code, id=r.id) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</a>
          {% endif %}
        </div>
      </div>
      <div class="col-xs-10">
        <dl class="inline">
            <dt>NHS Number</dt>
            <dd>{{ r.nhs_number }}</dd>
            <dt>Date of Birth</dt>
            <dd>{{ r.date_of_birth | date_format }}</dd>
            <dt>Recruited</dt>
            <dd>{{ r.date_recruited | date_format }}</dd>
            <dt>Recruited By</dt>
            <dd>{{ r.user.username }}</dd>
        </dl>
      </div>
    </div>
  {% endfor %}
</div>

{{ formhelper.render_pagination(recruits, 'recruits_index', search=searchForm.search.data, code=practice_registration.code) }}

{% endblock %}