{% extends "practices/_practice_base.html" %}
{% set tab = "recruits" %}
{% import "_formHelpers.html" as formhelper %}

{% block practice_content %}

<div class="page-header">
  {{ formhelper.render_search(searchForm, 'recruits_index', { 'Add Recruit' : 'recruits_add'}, code=practice_registration.code) }}
</div>

<div class="list-group">
  {% for r in recruits.items %}
    <div class="list-group-item row">
      <div class="col-xs-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
          {% if r.is_portal_created() %}
            <a class="btn btn-primary" href="{{ url_for('recruits_edit', code=practice_registration.code, id=r.id) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span></a>
          {% endif %}
        </div>
      </div>
      <div class="col-xs-10">
        <dl class="inline col-xs-6">
            <dt>NHS Number</dt>
            <dd>{{ r.nhs_number }}</dd>
            <dt>Date of Birth</dt>
            <dd>{{ r.date_of_birth | date_format }}</dd>
            <dt>Recruited</dt>
            <dd>{{ r.date_recruited | date_format }}</dd>
            <dt>Recruited By</dt>
            <dd>{{ r.user.full_name }}</dd>
        </dl>
        <dl class="inline col-xs-6">
            <dt>Status</dt>
            <dd>{{ r.status.status | default_if_none('Created') }}</dd>
            <dt>Study ID</dt>
            <dd>{{ r.status.study_id | blank_if_none }}</dd>
            <dt>Processed</dt>
            <dd>{{ r.status.processed_date | date_format }}</dd>
            <dt>Processed By</dt>
            <dd>{{ r.status.processed_by | blank_if_none }}</dd>
        </dl>
      </div>
    </div>
  {% endfor %}
</div>

{{ formhelper.render_pagination(recruits, 'recruits_index', search=searchForm.search.data, code=practice_registration.code) }}

{% endblock %}