{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<div class="page-header">
  <h1>Available Practices</h1>
  {{ formhelper.render_search(searchForm, 'practices_add_list', {'Done': 'practices_index'}) }}
</div>

<div class="list-group">
  {% for p in practices.items %}
    <div class="list-group-item row vertical-center">
      <div class="col-xs-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
          <form method="POST" class="form-horizontal" action="{{ url_for('practices_add') }}">
            {{ selectForm.csrf_token }}
            <input type="hidden" name="code" value="{{p.code}}">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"><span class="hidden-xs"> Register</span></button>
          </form>
        </div>
      </div>
      <div class="col-xs-10">
        <h4>{{p.name}}</h4>
        <p>{{p.ccg_name}}</p>
      </div>
    </div>
  {% endfor %}
</div>

{{ formhelper.render_pagination(practices, 'practices_add_list', search=searchForm.search.data) }}

{% endblock %}