{% extends "_base.html" %}

{% block content %}

<div class="page-header">
  <div class="col-lg-6 pull-right">
    <div class="input-group pull-right">
      <input type="text" class="form-control" placeholder="Search practices...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
        <a class="btn btn-primary" href="{{ url_for('practices_add_list') }}">Add New</a>
      </span>
    </div>
  </div>

  <h1>Practices</h1>
</div>

<div class="list-group">
  {% for p in practices %}
    <div class="list-group-item row">
      <div class="col-xs-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Recruits</button>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-gbp" aria-hidden="true"> Invoices</button>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"> Personnel</button>
        </div>
      </div>
      <div class="col-xs-10">
        <h1>({{p.code}}) {{p.name}}</h1>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}