{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<div class="page-header">
  <div class="row vertical-center">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h1 class="pull-left">Registered Practices</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="input-group">
        <form method="GET" class="form-horizontal" action="{{ url_for('practices_index') }}">
            {{ searchForm.search() | safe }}
            <button type="submit" class="btn btn-primary">Search</button>
            <a class="btn btn-primary" href="{{ url_for('practices_add_list') }}">Add New</a>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="list-group">
  {% for r in registrations.items %}
    <div class="list-group-item row">
      <div class="col-xs-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Recruits</button>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-gbp" aria-hidden="true"> Invoices</button>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"> Personnel</button>
        </div>
      </div>
      <div class="col-xs-10">
        <h4>{{r.practice.name}}</h4>
        <p>{{r.practice.ccg_name}}</p>
      </div>
    </div>
  {% endfor %}
</div>

{{ formhelper.render_pagination(registrations, 'practices_index', search=searchForm.search.data) }}

{% endblock %}