{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<div class="page-header">
  <h1>Registered Practices</h1>
  {{ formhelper.render_search(searchForm, 'practices_index', {'Add New' : 'practices_add_list'}) }}
</div>

<div class="list-group">
  {% for r in registrations.items %}
    <div class="list-group-item row">
      <div class="col-xs-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
          <a class="btn btn-default"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Recruits</a>
          <a class="btn btn-default"><span class="glyphicon glyphicon-gbp" aria-hidden="true"> Invoices</a>
          <a class="btn btn-default" href="{{ url_for('staff_index', code=r.code) }}"><span class="glyphicon glyphicon-user" aria-hidden="true"> Personnel</a>
        </div>
      </div>
      <div class="col-xs-10">
        <h4>{{r.practice.name}}</h4>
        <p>{{r.practice.ccg_name}}</p>
      </div>
    </div>
  {% endfor %}
</div>

{{ formhelper.render_pagination(registrations, 'practices_index', search=searchForm.search.data) }}

{% endblock %}