<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GENVASC GP Portal</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/dashboard.css?v=1" rel="stylesheet">
    <!-- Datetime Picker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
    {% block css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">GENVASC GP Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Recruits</a></li>
            <li><a href="#">Invoices</a></li>
            <li><a href="#">Personnel</a></li>
            <li><a href="{{ url_for('practices_index') }}">Practices</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}

            {% set class="alert-info" %}
            {% set gliph="glyphicon-info-sign" %}

            {% if category == "warning" %}
              {% set class="alert-warning" %}
              {% set gliph="glyphicon-exclamation-sign" %}
            {% elif category == "error" %}
              {% set class="alert-danger" %}
              {% set gliph="glyphicon-exclamation-sign" %}
            {% elif category == "success" %}
              {% set class="alert-success" %}
              {% set gliph="glyphicon-ok" %}
            {% endif %}


            <div class="alert {{class}}" role="alert">
              <span class="glyphicon {{gliph}}" aria-hidden="true"></span>
              <span class="sr-only">{{category}}:</span>
              {{message}}
            </div>
          {% endfor %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>

    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <!-- Moment (necessary for Datetime picker) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <!-- Datetime -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
    {% block js %}{% endblock %}

  </body>
</html>